USE [InterwayDocs]
GO
/****** Object:  Table [dbo].[Languages]    Script Date: 16/05/2018 17:20:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Languages](
	[UICulture] [varchar](5) NOT NULL,
	[Name] [nchar](20) NOT NULL,
 CONSTRAINT [PK_Languages] PRIMARY KEY CLUSTERED 
(
	[UICulture] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Resources]    Script Date: 16/05/2018 17:20:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Resources](
	[ResourceId] [int] IDENTITY(1,1) NOT NULL,
	[ResourceType] [varchar](50) NOT NULL,
	[ResourceName] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Resources] PRIMARY KEY CLUSTERED 
(
	[ResourceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ResourceTranslations]    Script Date: 16/05/2018 17:20:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResourceTranslations](
	[ResourceId] [int] NOT NULL,
	[UICulture] [varchar](5) NOT NULL,
	[Translation] [varchar](500) NOT NULL,
 CONSTRAINT [PK_ResourceTranslations] PRIMARY KEY CLUSTERED 
(
	[ResourceId] ASC,
	[UICulture] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Languages] ([UICulture], [Name]) VALUES (N'en', N'English             ')
INSERT [dbo].[Languages] ([UICulture], [Name]) VALUES (N'es', N'Español             ')
INSERT [dbo].[Languages] ([UICulture], [Name]) VALUES (N'fr', N'Français            ')
SET IDENTITY_INSERT [dbo].[Resources] ON 

INSERT [dbo].[Resources] ([ResourceId], [ResourceType], [ResourceName]) VALUES (1, N'InterwayDocs', N'LabelClickCreateIncoming')
INSERT [dbo].[Resources] ([ResourceId], [ResourceType], [ResourceName]) VALUES (2, N'InterwayDocs', N'ToolTipRegisterDate')
INSERT [dbo].[Resources] ([ResourceId], [ResourceType], [ResourceName]) VALUES (3, N'InterwayDocs', N'UpgradingVersion')
GO
SET IDENTITY_INSERT [dbo].[Resources] OFF
INSERT [dbo].[ResourceTranslations] ([ResourceId], [UICulture], [Translation]) VALUES (1, N'en', N'Click to create an incoming mail register')
INSERT [dbo].[ResourceTranslations] ([ResourceId], [UICulture], [Translation]) VALUES (1, N'es', N'Clique para crear un registro de correspondencia entrada')
INSERT [dbo].[ResourceTranslations] ([ResourceId], [UICulture], [Translation]) VALUES (1, N'fr', N'Cliquez pour créer un enregistrement de correspondance arrivée')
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Languages]    Script Date: 16/05/2018 17:20:46 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Languages] ON [dbo].[Languages]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ResourceTranslations]  WITH CHECK ADD  CONSTRAINT [FK_ResourceTranslations_Languages] FOREIGN KEY([UICulture])
REFERENCES [dbo].[Languages] ([UICulture])
GO
ALTER TABLE [dbo].[ResourceTranslations] CHECK CONSTRAINT [FK_ResourceTranslations_Languages]
GO
ALTER TABLE [dbo].[ResourceTranslations]  WITH CHECK ADD  CONSTRAINT [FK_ResourceTranslations_Resources] FOREIGN KEY([ResourceId])
REFERENCES [dbo].[Resources] ([ResourceId])
GO
ALTER TABLE [dbo].[ResourceTranslations] CHECK CONSTRAINT [FK_ResourceTranslations_Resources]
GO
