<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="UICulture" value="pt" />
    <!--<add key="UICulture" value="es-ES"/>-->
    <!--<add key="UICulture" value="fr-FR"/>-->
    <add key="UseLongNameEntities" value="False" />
    <add key="CslaAuthentication" value="Csla" />
    <add key="CslaDualAuthentication" value="True" />
    <add key="CslaAutoCloneOnUpdate" value="True" />
    <add key="CslaPropertyChangedMode" value="Windows" />
  </appSettings>
  <connectionStrings>
    <!-- SQL Server 2014 -->
    <add name="InterwayDocs" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|InterwayDocs.mdf;Integrated Security=True;Connection Timeout=300;" providerName="System.Data.SqlClient" />
    <!--
    -->
    <!-- SQL Server 2012 -->
    <!--<add name="InterwayDocs" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|InterwayDocs.mdf;Integrated Security=True;Connection Timeout=300;" providerName="System.Data.SqlClient" />-->
    <!-- development -->
    <!--
    <add name="InterwayDocs" connectionString="Data Source=(local);Initial Catalog=InterwayDocs;Persist Security Info=True;User ID=sa;Password=password_1234" providerName="System.Data.SqlClient" />
    -->
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Csla" publicKeyToken="93be5fdc093e4c30" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.7.100.0" newVersion="4.7.100.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.85.1.271" newVersion="0.85.1.271" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
