<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CslaContrib" version="4.6.606" targetFramework="net45" />
  <package id="CslaContrib-Windows" version="4.6.606" targetFramework="net45" />
  <package id="CSLA-Core" version="4.7.100" targetFramework="net45" />
  <package id="CSLA-WindowsForms" version="4.7.100" targetFramework="net45" />
  <package id="MvvmFx-CaliburnMicro-Csla-WinForms" version="3.0.1" targetFramework="net45" />
  <package id="MvvmFx-CaliburnMicro-WinForms" version="3.0.1" targetFramework="net45" />
  <package id="MvvmFx-Logging" version="3.0.1" targetFramework="net45" />
  <package id="MvvmFx-NLogLogger" version="3.0.1" targetFramework="net45" />
  <package id="NLog" version="4.5.3" targetFramework="net45" />
  <package id="NLog.Config" version="4.5.3" targetFramework="net45" />
  <package id="NLog.Schema" version="4.5.3" targetFramework="net45" />
</packages>